@import "tailwindcss";


:root {
  --background: #463939;
  --foreground: #e6d5d5;
}


@media (prefers-color-scheme: dark) {
  :root {
     --background: linear-gradient(to right, #362121, #a79b8e);
    --foreground: #ededed;
  }
}

body {
  padding-top: 60px !important ;
  background: var(--background)!important;
  color: var(--foreground)!important;
  font-family: Arial, Helvetica, sans-serif;
}
