

.login {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    
}
.loginImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #272317;
    height:400px;
    width: 400px;
    border-radius: 10px;
    
}
.form input {
    margin-top: 20px;
    padding: 8px;
    font-size: 16px;
    width:70%;
    height: 40px;
    margin-left: 60px;
    background-color: #4e413a;
    border-radius: 5px;
    color: #fff;
}
.button {
    width: 150px;
    height:40px;
    margin-left: 60px;
    background-color: #afb2b6;
    color: rgb(11, 10, 10);
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}